<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-button [routerLink]="['']">
    <img alt="Home" height="40" src="assets/icons/logo2.png" title="Home"  class="ng-star-inserted">  </button>
  <span>ZamaPark</span>
  <span class="filling-span"></span>
  <button mat-button [routerLink]="['/menu']" >
    <mat-icon aria-hidden="false" aria-label="Menu">fastfood</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>

<script>
  let deferredPrompt;

  window.addEventListener('beforeinstallprompt', (e) => {
    console.log(e);
    // Stash the event so it can be triggered later.
    deferredPrompt = e;
    deferredPrompt.prompt();
  });
</script>
