<div class="my_content_wrapper">
  <div class="my_content">
    <h1 class="mat-display-4">Menù</h1>
    <div *ngFor="let product of products">
      <mat-card style="margin: 10px; width: 18rem;">
        <img src={{product.photoURL}} mat-card-image alt={{product.name}}>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-content>{{product.description}}</mat-card-content>
        <mat-card-subtitle>Costo: {{product.price}} crediti</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
